{% assign page_url = site.url | append: page.url %}
<section>
  <h3>THE END</h3>
  <h2>THANKS</h2>
  <div>
    <small> {{ page.title }} <a href="{{ page.url | prepend: site.baseurl }}">{{ page_url | remove: "http://" }}</a></small>  
  </div>
  <footer class="links">
      <a class="link" href="{{ site.url | append: site.baseurl }}">Home(首页)</a>
      <a class="link" href="#/">Replay(重放)</a>
      <a class="link" target="_black" href="{{ page.path | prepend: site.github.edit }}">Edit(修改)</a>
      <a class="link" href="?print-pdf">Print(打印)</a>      
  </footer>
 </section>
