{% assign page_url = site.url | append: page.url %}
{% assign SVG = site.reveal.qrcode | append: page_url | download | remove_first: '<?xml version="1.0" standalone="no"?>' %}
<section>
  <h1>{{ page.title }}</h1>
    <div class="qrcode">
      {{ SVG | split: '<!-' | first | replace: 'width="', 'viewBox="0,0,' | replace: '" height="', ',' }}
      {{ SVG | split: '<g id="elements">' | last | remove: ' style="fill:rgb(0, 0, 0)"' | prepend: '<g>'}}
    </div>
  {% if page.description %}
    <p>{{ page.description }}</p>
  {% endif %}
  <small><a href="{{ page.url | prepend: site.baseurl }}">{{ page_url | remove: "http://" }}</a></small>
  <small>@<a href="{{ site.author.url }}">{{ site.author.name }}</a></small>  
</section>
