{% assign page_url = site.url | append: page.url %}
<section>
  <h1>{{ page.title }}</h1>
    <div>
      <img class="qrcode" src="{{ site.baseurl }}/assets/icon/loading.gif" data-src="{{ site.reveal.qrcode }}{{ page_url }}" alt="{{ page.title }}"/>
    </div>
  {% if page.description %}
    <p>{{ page.description }}</p>
  {% endif %}
  <div>
    <small><a href="{{ page.url | prepend: site.baseurl }}">{{ page_url | remove: "http://" }}</a></small>    
  </div>
  <small><a class="author" href="{{  page.author_link |site.author.url }}">@{{ page.author | default: site.author.name }}</a></small>
</section>