$svg-back-color: #FFF;
$qrcode-color: #008;

.left{
    text-align: left;
}
.qrcode{
    margin: auto;
    img,
    svg{
        width: 200px;
        height: 200px;
        border: 10px $svg-back-color solid;
        border-radius: 8%;
        background: $svg-back-color;
    }
    // path{
    //     fill: $qrcode-color;
    // }
}