$svg-back-color: #FFF;
$qrcode-color: #008;

.left{
    text-align: left;
}
.qrcode{
    margin: auto;
    img,
    svg{
        width: 200px;
        height: 200px;
        border: 10px $svg-back-color solid;
        border-radius: 8%;
        background: $svg-back-color;
    }
    // path{
    //     fill: $qrcode-color;
    // }
}

.links{
    display: flex;
    justify-content: space-around;
    .link{
        border-radius: 5px;
        border: 2px solid;
        font-size: .5em;
        padding: 1% 2%;
        &::hover{
            border: white solid;
            color: white;
            font-weight: bolder;
        }
    }
}

// 不打印
@media print {
    .no-print{
        display: none;
    }
}

.desktop-chrome{
    display: none;
}
.desktop.chrome{ 
    .desktop-chrome{
        display: initial;
    }
}