---
layout: compress
---
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {% if page.title && page.title | downcase != "home" %}
      {{ page.title }} &middot; {{ site.title }}
    {% else %}
      {{ site.title }} &middot; {{ site.tagline }}    
    {% endif %}
  </title>
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/home.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
</head>

  <body>
  {% include sidebar.html %}
    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      
      <header class="masthead">
        <div class="container">
          <h1 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>({{ site.tagline }})</small>
          </h1>
        </div>
      </header>

      <main class="container content">
        {{ content }}
      </main>

    </div>
    <script>
      (function (document) {
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');
        document.addEventListener('click', function (e) {
          if (checkbox.checked && !sidebar.contains(e.target) && e.target !== checkbox)
            checkbox.checked = false;
        }, false);
      })(document);
    </script>
  </body>
</html>
