---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
<head>
  <meta charset="utf-8"/>

  <title>{{ page.title }} | {{ page.permalink | default: page.url | remove: '/' | replace: '-',' ' | capitalize }}</title>

  {% if page.description %}
  <meta name="description" content="{{ page.description }}"/>
  {% endif %}
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <meta name="HandheldFriendly" content="true"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link href="{{ site.reveal.cdn }}css/reveal.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/css/slide.css" rel="stylesheet">
  <link href="{{ site.reveal.cdn }}css/theme/{{ page.theme | default: 'black' }}.min.css" id="theme" rel="stylesheet">

{% comment %}
  <link rel="stylesheet" href="{{ "css/print/pdf.min.css" | prepend: site.reveal.cdn }}" media="print"/>   
{% endcomment %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
</head>

<body>

    {% assign page_slides = content | split: site.reveal.slide_separator %}

    <main class="reveal">
      <div class="slides">
        {% if site.reveal.title_slide and page.no_title != true %}
          {% include title-slide.html %}
        {% endif %}

        {% if content contains site.reveal.slide_separator %}
        {% assign page_slides = content | split: site.reveal.slide_separator %}

        {% for slide in page_slides %}

          <section>

            {% if slide contains site.reveal.vertical_separator %}
            {% assign vertical_slides = slide | split: site.reveal.vertical_separator %}

              {% for vertical_slide in vertical_slides %}

                <section>
                  {% if vertical_slide contains site.reveal.notes_separator %}
                  {% assign slide_content = vertical_slide | split: site.reveal.notes_separator | first %}
                  {% assign slide_notes = vertical_slide | split: site.reveal.notes_separator | last %}

                    {{ slide_content }}

                    <aside class="notes">
                      {{ slide_notes }}
                    </aside>

                  {% else %}

                    {{ vertical_slide }}

                  {% endif %}
                </section>

              {% endfor %}

            {% else %}

              {% if slide contains site.reveal.notes_separator %}
              {% assign slide_content = slide | split: site.reveal.notes_separator | first %}
              {% assign slide_notes = slide | split: site.reveal.notes_separator | last %}

                {{ slide_content }}

                <aside class="notes">
                  {{ slide_notes }}
                </aside>

              {% else %}
                {{ slide }}
              {% endif %}
            {% endif %}

          </section>

        {% endfor %}

        {% endif %}

        {% if page.no_end != true %}
          {% include end-slide.html %}
        {% endif %}
      </div>
    </main>
    <script src="{{ "lib/js/head.min.js" | prepend: site.reveal.cdn }}"></script>
    <script src="{{ "js/reveal.min.js" | prepend: site.reveal.cdn }}"></script>
    <script>{% include slide.js %}</script>
</body>
</html>
